$color-grey-light: #f7f7f7; //Background color
$color-black: #141414;
$color-yellow: #e6c510;

@mixin respond($breakpoint) {
  @if $breakpoint == laptop {
    @media all and (max-width: 1900px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media all and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media all and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media all and (max-width: 600px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%;
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.7;
  background-color: $color-grey-light;
  // overflow: hidden;
}

.page-heading {
  font-weight: 500;
  font-size: 55px;
  color: $color-black;
  @include respond(tablet) {
    font-size: 28px;
  }
}

.heading2 {
  font-weight: 300;
  font-size: 40px;
  color: $color-black;
  @include respond(tablet) {
    font-size: 22px;
  }
}

.text {
  font-size: 2.4rem;
  transition: all 0.4s;
  font-weight: 300;
  @include respond(laptop) {
    font-size: 2.2rem;
  }
  @include respond(phone) {
    text-align: center;
  }
}

.form-control {
  border-radius: none;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  height: 50px;
  font-size: 20px;
  background-color: white;
  &:focus {
    outline: none;
    border-bottom: 2px solid rgb(23, 177, 23);
  }
  @include respond(phone) {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
  }
}

.hero-img {
  width: 40%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}

iframe {
  height: 700px;
  width: 100%;
}

.pdf-border {
  border: 2px solid black;
}
.pdf-spacing {
  padding-top: 150px;
}

.styled-btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem !important;
    display: inline-block;
    transition: all 0.6s !important;
    position: relative;
    font-size: 2rem !important;
    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.6);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0.5rem 1rem rgba(black, 0.2);
  }

  &--send {
    //Nav Button
    background-color: rgb(33, 168, 33) !important;
    color: white !important;
    font-size: 2rem;
    font-weight: 700;
    &::after {
      background-color: rgb(33, 168, 33) !important;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
